<div class="row">
  <div class="col-md-8 col-md-offset-2" style="text-align: center;">
  <%= link_to  @list.title, edit_list_path, class: "btn" %>
  </div>
  <div>
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Days Left</th>
              <th>Completed</th>
            </tr>
          </thead>
          <tbody class="table-striped">
            <% @items.each do |item| %>
              <tr>
                <td>
                  <%= item.description %>
                </td>
                <td>
                  <%=  distance_of_time_in_words(Time.now, item.created_at + (60*60*24*7)) %>
                </td>
                <td>
                  <%= link_to check_box_tag(:completed), [@list, item], method: :delete %>
               </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <%= render partial: "items/form", locals: {list: @list, item: @new_item} %>
    </div>
  </div>
</div>
